<div id="mainCoantiner">
    <!--dust particel-->
    <div class="margin-body">

        <div>
            <div class="starsec"></div>
            <div class="starthird"></div>
            <div class="starfourth"></div>
            <div class="starfifth"></div>
        </div>
        <!--Dust particle end--->

        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="wpb_text_column wpb_content_element ">
                    <div class="wpb_wrapper">
                        <div class="title-h1 text-center"><span><span class="light">pricing </span> table</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 pricing-column-wrapper" *ngFor="let row of game$ | async ">
                <div class="pricing-column">
                    <div class="pricing-price-row">
                        <div class="pricing-price-wrapper">
                            <div class="pricing-price">
                                <div class="pricing-cost">PS</div>
                                <div class="time">SONY</div>
                            </div>
                        </div>
                    </div>
                    <div class="pricing-row-title">
                        <div class="pricing_row_title">{{ row.name }}</div>
                    </div>
                    <figure class="pricing-row strike"><img src="../../../assets/{{ row.image }}" class="img-fluid img" alt=""></figure>
                    <figure class="pricing-row strike">ISBN: {{ row.id }}</figure>
                    <figure class="pricing-row strike">Lançamento: {{ row.releaseDate | date : 'dd/MM/yyyy'}}</figure>
                    <div class="pricing-footer">
                        <div class="gem-button-container gem-button-position-center"><a href="#" class="gem-button gem-green">order now</a></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
